body {
  background: url("/VID+TEXT/fd-musique4.jpg");
  background-size: cover;
}

a {
  padding: 5px;
  text-decoration: none;
  color: cornflowerblue;
}

img {
  height: 400px;
}

h1 {
  color: white;
  text-align: center;
}

audio {
  width: 100%;
}

.musique{
  display: flex;
  height: 95vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

